body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	height: 100%;
}
html {
	height: 100%;
}
@media (max-width: 576px) {
	.banner .date {
		margin-top: 40px;
	}
	.banner .invite {
		margin-bottom: 40px;
	}
	body .thanks {
		padding: 150px 0 150px 0;
	}
}
@media (min-width: 576px) {
	body {
		font-size: 30px;
	}
}
@media (min-width: 769px) {
	body {
		font-size: 30px;
	}
}
.banner {
	height: 100%;
	background: url('../images/8.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.hand-font {
	font-family: 'Pacifico', cursive;
}
.fw {
	color: #ffffff;
}
.rf {
	color: #f0394d;
}
.invite {
	font-size: 3.5em;
	line-height: 0.9em;
	/* transform: rotate(-17deg); */
}
.invite small {
	font-size: 70%;
}
.banner-text {
	padding: 10px 40px;
	border-top: thick double #fff;
	border-bottom: thick double #fff;
	color: #ffffff;
	font-size: 2.5em;
	margin-top: 35px;
	position: relative;
}

.banner-text::before {
	display: block;
	font-family: 'fontello';
	position: absolute;
	color: #fff;
	content: '\e800';
	top: -0.8em;
	left: 0;
	right: 0;
	margin-left: 0.9em;
	font-size: 0.7em;
}
.banner-text::after {
	display: block;
	font-family: 'fontello';
	position: absolute;
	color: #f0394d;
	content: '\e800';
	font-size: 0.7em;
	top: -0.8em;
	left: 0;
	right: 0;
	margin-right: 28px;
}

.date {
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 3em;
	transform: rotate(-17deg);
}

.groom-bride {
	padding: 140px 0 100px 0;
	background-color: #f4f4f4;
}
.groom-bride .photo {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border: 18px solid #fff;
	vertical-align: middle;
}

.groom-bride .photo img {
	border: solid 1px #ffffff;
	width: 100%;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.groom-bride .photo img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
p {
	font-family: 'Arvo', serif;
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 25px;
}
.hart {
	position: absolute;
	/* margin: 10% 3%; */
	top: 23px;
	left: calc(100% - 11px);
	background-color: red;
	color: #ffffff;
	border-radius: 52%;
	height: 55px;
	width: 55px;
	font-size: 26px;
	padding: 9px 0;
	text-align: center;
}

.ring {
	height: 500px;
	background: url('../images/2.jpeg');

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.join-party {
	padding: 100px 0 100px 0;
	color: #000000;
}
.join-party .banner-text {
	color: #000000;
	border-color: #000000;
}
.join-party .banner-text::before {
	color: #000;
}
.address p {
	font-size: 1.3em;
	line-height: 1.3em;
}
.dont-miss {
	padding: 180px 0 180px 0;
	/* background-image: url("https://images.wallpaperscraft.com/image/hearts_red_love_126164_1600x1200.jpg"); */
	background: url('../images/count-donw.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	background-position: center;
}

.dont-miss .dont-miss-text {
	font-size: 2.5em;
}
.over-lay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: #000; */
	background-color: #00000066;
}
.cont-down-container {
	margin-top: 30px;
	display: block;
	flex: none;
	color: #ffffff;
}
.cont-down {
	margin-right: 0.5em;
	display: inline-block;
}
.cont-down:last-child {
	margin-right: 0em;
}
.count {
	background-color: #f0394d;
	color: #fff;
	padding: 0.6em;
	border-radius: 50%;
	height: 2.7em;
	width: 2.7em;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin: auto;
}
.cont-down .label {
	margin-top: 20px;
	/* letter-spacing: 3px; */
	text-transform: uppercase;
}

.thanks {
	padding: 140px 0 100px 0;
	background: url('../images/1.jpeg');
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
	/* background-position: center; */
	position: relative;
	color: #ffffff;
	position: relative;
	font-size: 1.5em;
	background-color: #232323;
}
.thanks .over-lay {
	background-color: #0000006e;
}

.thanks .hand-font {
	font-size: 2em;
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	padding-right: 30px;
	margin-top: 40px;
	margin-bottom: 61px;
	line-height: 0.5em;
}
.white-line {
	width: 30px;
	height: 8px;
	display: inline-block;
	border-top: solid 1px #fff;
}
.pink-heart {
	color: #f0394d;
	z-index: 3;
	position: relative;
}
.white-heart {
	z-index: 2;
	margin-left: -0.8em;
}
.visible-lg {
	display: none;
}
@media (min-width: 1200px) {
	.visible-lg {
		display: block;
	}
	body {
		font-size: 20px;
	}
}
.names {
	font-size: 1.2em;
	margin-top: 1em;
	letter-spacing: 2px;
}
.bride,
.groom {
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.groom {
	background-image: url('../images/groom_side.jpg');
}

.bride {
	background-image: url('../images/bride_side.jpeg');
}
.family {
	padding: 0 0 50px 0px;
	background-color: #f4f4f4;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.family .member {
	padding: 20px;
	background-color: #fff;
	border: solid 1px #d7d7d778;
	max-width: 100%;
	width: 300px;
	margin: 0px auto 20px;
}

.member span {
	font-size: 0.7em;
	line-height: 0.5em;
	/* margin: 0; */
	/* padding: 0; */
	display: inherit;
	font-weight: 100;
}
.member h4 {
	color: #f0394d;
	font-family: 'Pacifico', cursive;
}

#gallery-container {
	padding: 50px 0 0;
}
.bg-gray {
	background-color: #f4f4f4;
}
.text-2em {
	font-size: 2em;
}
.heading {
	font-size: 2em;
	margin-bottom: 50px;
}
.gallery a img {
	max-width: 200px;
	margin: 10px;
}
.gallery a {
	border: solid 1px #f4f4f4;
	margin: 0 10px;
	background-color: #f4f4f4;
}
.gallery {
	display: flex;
	overflow-y: auto;
	/* justify-content: center; */
	align-items: center;
	padding-bottom: 50px;
}
.sl-overlay {
	background: #060606 !important;
	opacity: 0.9 !important;
}
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button {
	color: #fff !important;
}
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-track {
	background: #ddd;
}

::-webkit-scrollbar-thumb {
	background: #666;
}
